body{
    background-image: url('./images/kelly-sikkema-4JxV3Gs42Ks-unsplash.jpg');
    background-size: 100%;
}

.header-component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid wheat;
    box-shadow: 0 0 4px 2px;
    background-color: white;
}
.logo{
    width : 80px;
}
.header-component > ul{
    display: flex;
    list-style: none;
    
}
.header-component>ul> li{
    padding: 10px;
    color: rgb(30, 121, 121);
}
.form{
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    padding: 20px;
    /* height: 80vh; */
    width: 40%;
    column-gap: 10px;
    border: 4px solid rgb(194, 194, 238);
    box-shadow: rgba(20, 19, 19, 0.35) 0px 5px 15px;
    background-color: white;
}
.form > label{
    margin: 5px 0;
}
.form .firstName > input{
    border-radius: 10px;
    height: 3vh;
}
.form > input{
    border-radius: 10px;
    height: 3vh;
}
.firstName{
    position: relative;
    display: flex;
    flex-direction: column;
}
.firstName > i{
    position: absolute;
    top: 50%;
    right: 2%;
}

.submit-button{
    width: 30%;
    height: 20%;
    border-radius: 20px;
    color: white;
    background-color: rgb(60, 145, 219);
}
.condition{
    font-size: 12px;
}
#fnameWarning{
    display: none;
    color: red;
    font-size: 13px;
}
#lnameWarning{
    display: none;
    color: red;
    font-size: 13px;   
}

#ageWarning{
    display: none;
    color: red;
    font-size: 13px;
}

#genderWarning{
    display: none;
    color: red;
    font-size: 13px;
}
#roleWarning{
    display: none;
    color: red;
    font-size: 13px;
}
#emailWarning{
    display: none;
    color: red;
    font-size: 13px;
}

.passwordrules{
    color: rgb(132, 117, 117);
    font-size: 12px;
}

#passwordWarning{
    display: none;
    color: red;
    font-size: 13px; 
}
#repasswordWarning{
        display: none;
        color: red;
        font-size: 13px; 
}
#condition{
    display: none;
    color: red;
    font-size: 13px; 
}

@media (max-width:550px) {
    .form{
        width: 60%;
        margin-left: 15%;
    }
    
}